body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
div {
    margin:0 auto;
    max-width: 50em;
    padding-bottom: 1em;
}
h1, h2 {
    font-family: 'Lora';
    
}
h1 {
    margin-block-start: 0em;
    font-size: 2em;
}
h2 {
    margin-block-start: 2em;
    font-size: 1.5em;
}
p {
    font-size: 1.25em;
}

#crop-mask-gif {
    max-width: 25em;
}

#cropharvest {
    max-width: 30em;
}

#three-maps-gif {
    max-width: 45em;
}



#profile {
    border-radius: 50%;
    max-width: 200px;
}